* {
  margin: 0;
  padding: 0;
}

/* home_container of web page */

/* navbar  */

.home_container {
  margin: 10vmin;
}

.navBar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLink ul li {
  display: inline;
  margin-right: 6vw;
}
.navLink ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* contents of about texts */

.proSeries {
  padding: 10px;
}
